/* 文章展示页面 */


/* 主要内容 */
@media screen {

    html,
    body {
        scroll-behavior: smooth;
    }

    #write li p {
        text-indent: 0rem;
    }

    main {
        padding: 0 7.7%;
        border-radius: 5px;
        width: 70%;
        border: 1px solid blue;
        border-top: 4px solid blue;
        box-shadow: #9E9E9E 1px 0px 10px;
        margin: 100px auto 180px auto;
        padding-bottom: 100px;
        background-color: hsla(0, 0%, 100%, .88);

    }

    header.title {
        position: relative;
        width: 100%;
        /* height: 236px; */
        /* padding: 0 10%; */
        /* margin-bottom: 140px; */
        /* border-bottom: 1px solid #9e9e9e40; */

    }

    .later {
        /* background-color: aquamarine; */
        padding: 4px 7px 3px 0;
        margin: 0 14px 4px 0;
    }

    .title h2,
    .title h1 {
        margin: 3rem 0;
        font-size: 2.5rem;
        line-height: 3.2rem;
        text-align: center;
        font-weight: 450;
    }

    .mini {
        /* width: 90%; */
        text-align: center;
        margin: 0 auto 1rem;
        padding-bottom: 6px;
        border-bottom: 1px solid #9e9e9e40;
    }

    .mini span {
        color: #999;
        font-size: 14px;
        border-radius: 4px;
    }

    .massage p {
        font-family: 'Allura';
        text-align: justify;
        text-indent: 2rem;
        line-height: 1.8;
        overflow: hidden;
        margin: .8em 0;
    }

    .massage {
        font-size: 18px;
        padding-bottom: 100px;
    }

    .massage h3 {
        margin: 70px 0 30px 0;
        line-height: 1.2;
    }

    .massage h3 span {
        padding: 8px 15px;
        border-left: 4px solid #3ca5f6;
        background-color: #b2ebf28a;
        border-radius: 0 5px 5px 0;
    }
}

@media only screen and (max-width:768px) {
    main {
        width: 95%;
        margin-bottom: 50px;
    }



    header.title {
        padding: 0;
    }

    header.title h2,
    header.title h1 {
        font-size: 24px;
        line-height: 36px;
        margin: 2rem 0;
    }

    .hh {
        display: block;
    }

    .mini span {
        font-size: 12px;
    }
}